# Help mitigate supply chain attacks by only installing packages published
# with a delay.
#
# Keep this policy synchronized with `.yarnrc.yml`. See
# https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age
min-release-age=7
